<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand h1 mb-0" href=" {{ url_for('home') }} "><i class="bi bi-chat-text-fill"></i> Sms Bomber Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="flex-direction: row-reverse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for("home") }}"><i class="bi bi-house-door"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('about') }} "><i class="bi bi-info-circle"></i> About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('privacy') }} "><i class="bi bi-journal-text"></i> Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('terms') }} "><i class="bi bi-newspaper"></i> Terms Of Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('contact') }} "><i class="bi bi-envelope"></i> Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>